.head-row {
  background: var(--bs-white);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fas.fa-plus-square {
  padding: 5px;
  font-size: 20px;
}

h3 {
  padding: 20px;
}

.add-btn {
  margin-bottom: 5px;
}

.add-btn:hover {
  color: #f1faee;
  background: #457b9d;
}

.info-heading {
  padding-left: 0;
}

.control-btns {
  padding: 20px;
}

.list-btn {
  background: #457b9d;
}

.list-btn:hover {
  background: #1d3557;
}

.form-row {
  padding: 5px;
}

@media (min-width: 768px) {
  .control-clum {
    padding-left: 20px;
  }
}

