/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb. 16, 2021, 11:23:04 a.m.
    Author     : kentp
*/


/*=============================================*/
/*VARIABLES*/
/*=============================================*/

:root
{
    /*TODO: These variables don't seem to work in NetBeans?*/

    /*COLORS*/
    --foreground-color: #F1FAEE; 
    --background-color: #CDE2FF;
    --secondary-color: #1D3557;
    --primary-font-color: #457B9D;
    --danger-color: #E63946;

    --button-highlight-color: #2f546B;

    /*FONTS*/

    /*MISC*/
}


/*=============================================*/
/*TYPE SELECTORS*/
/*=============================================*/

body
{
    background-color: #CDE2FF;
}

dt, dd 
{
    float: left
}

dt 
{
    clear:both
}

/*=============================================*/
/*ID SELECTORS*/
/*=============================================*/

#new-job-title
{
    color: #457B9D;
}

/*=============================================*/
/*Class SELECTORS*/
/*=============================================*/

.default-button
{
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 14px;
    padding: 10px 36px;
    height: 40px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.default-button:hover
{
    background-color: #2f546B;
}

.default-button:active
{
    background-color: #457B9D;
}

.section-header
{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 5px;
}


.new-job-container
{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F1FAEE;
}

.current-job-container
{
    background-color: #F1FAEE;
}

.job-item-header
{
    color: #457B9D;
    font-size: 16px;
}

.job-item-value
{
    text-align: right;
    color: #1D3557;
    text-align: right;
}

.job-description
{
    padding: 5px;
    height: 150px;
    max-height: 150px;
    margin-bottom: 0px;
}

.new-job-label
{
    color: #457B9D;
}