.navigation-clean-button {
    background: #14213d;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #F1FAEE;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #A8DADC;
}

.navigation-clean-button.navbar-dark .navbar-brand:hover {
    color: #f0f0f0;
}

.navigation-clean-button .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto;
    width: 75px;
}

@media (max-width: 992px) {
    .navigation-clean-button .navbar-brand img {
        width: 50px;
    }
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
    border-color: #555;
}

.navigation-clean-button .navbar-toggler {
    color: #888888;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
    color: #eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-button.navbar-dark .navbar-collapse, .navigation-clean-button.navbar-dark .form-inline {
    border-top-color: #333;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
    background: none;
    box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #F1FAEE;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #F1FAEE;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: #A8DADC !important;
    background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 5px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
}

@media (max-width: 767px) {
    .navigation-clean-button .navbar-nav .show .dropdown-menu {
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #37434d;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1;
    }
}

.navigation-clean-button.navbar-dark {
    background-color: #1f2021;
    color: #fff;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active, .navigation-clean-button.navbar-dark .navbar-nav a.active:focus, .navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
    color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: transparent;
}

.navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
    background-color: #1f2021;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
    color: #f2f5f8;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
    background: #363739;
}

@media (max-width: 767px) {
    .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fff;
    }
}

.navigation-clean-button .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: #F1FAEE;
}

.navigation-clean-button.navbar-dark .actions .login {
    color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .actions .login:hover {
    color: #fff;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
    background: #fca311;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color 0.25s;
    font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
    background: #66d7d7;
}

.navigation-clean-button.navbar-dark .action-button, .navigation-clean-button.navbar-dark .action-button:active {
    background: #208f8f;
}

.navigation-clean-button.navbar-dark .action-button:hover {
    background: #269d9d;
}

@media (min-width: 992px) {
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}

.navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover {
    color: #A8DADC;
}

.brand-name {
    font-family: Oswald, sans-serif;
    font-weight: bold;
}

@media (max-width: 992px) {
    .brand-name {
        font-size: 1.2em;
    }
}

@media (max-width: 576px) {
    .brand-name {
        font-size: .9em;
    }
}

@media (max-width: 768px) {
    #navcol-1 {
        font-size: .8em;
    }
}

section.testimonials-clean.popup.contact {
    width: 50%;
}

.close {
    padding: 20px;
}

.contact-from {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: inherit;
}

.testimonials-clean {
    color: #313437;
    background: #e5e5e5;
}

.testimonials-clean p {
    color: #313437;
}

.testimonials-clean h2 {
    font-weight: bold;
    /*margin-bottom: 40px;*/
    padding-top: 20px;
    color: inherit;
}

@media (max-width: 767px) {
    .testimonials-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.testimonials-clean .intro p {
    margin-bottom: 0;
}

.testimonials-clean .people {
    padding: 50px 0 20px;
}

.testimonials-clean .item {
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .testimonials-clean .item {
        height: 220px;
    }
}

.testimonials-clean .item .box {
    padding: 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
}

.testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
}

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
}

.testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
}

.testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

section.testimonials-clean.popup.about {
    background: #e5e5e5;
}

.about-link {
    text-decoration: none;
    color: #14213d;
    size: 20px;
}

.about-icon {
    font-size: 20px;
}