<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CandidateProfileServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>JobPostingSearch</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>CandidateCreateProfileServlet</servlet-name>
        <servlet-class>servlets.CandidateCreateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateProfileServlet</servlet-name>
        <servlet-class>servlets.CandidateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateProfileEdit</servlet-name>
        <servlet-class>servlets.CandidateProfileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateJobPosting</servlet-name>
        <servlet-class>servlets.CandidateJobPostingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobPostingSearch</servlet-name>
        <servlet-class>servlets.JobPostingSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>servlets.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileNavigationServlet</servlet-name>
        <servlet-class>servlets.ProfileNavigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateCreateProfileServlet</servlet-name>
        <url-pattern>/create-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateProfileServlet</servlet-name>
        <url-pattern>/candidate-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateProfileEdit</servlet-name>
        <url-pattern>/candidate-profile-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateJobPosting</servlet-name>
        <url-pattern>/candidate-job-posting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobPostingSearch</servlet-name>
        <url-pattern>/job-search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/application-home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileNavigationServlet</servlet-name>
        <url-pattern>/profile-navigation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/user-registration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorhandling/404error.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorhandling/500error.jsp</location>
    </error-page>
    
</web-app>
