<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="level-ground-recruitmentPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>problemdomain.Advisor</class>
    <class>problemdomain.Application</class>
    <class>problemdomain.BusinessClient</class>
    <class>problemdomain.Candidate</class>
    <class>problemdomain.CandidateSkill</class>
    <class>problemdomain.Education</class>
    <class>problemdomain.JobPosting</class>
    <class>problemdomain.Log</class>
    <class>problemdomain.Role</class>
    <class>problemdomain.Skill</class>
    <class>problemdomain.WorkHistory</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://us-cdbr-east-03.cleardb.com:3306/heroku_9f7f55da9d71722?reconnect=true"/>
      <property name="javax.persistence.jdbc.user" value="b63a42502baac7"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="e0abdcba"/>
    </properties>
  </persistence-unit>
</persistence>
